<!-- More information on ROS launch http://wiki.ros.org/roslaunch/XML -->

<launch>
  <!-- 
       Using simulation time means nodes initialized after this
       will not use the system clock for its ROS clock and 
       instead wait for simulation ticks. 
       See http://wiki.ros.org/Clock
       Note: set to false for deploying to a real robot.
  -->
  <arg name="use_sim_time" default="true"/>
  <param name="use_sim_time" value="$(arg use_sim_time)"/>
  
  <arg name="num_sides" default="3"/>
  <arg name="is_clockwise" default="true"/>
  <arg name="side_length" default="1"/>
  <param name="/regular_polygon_motion/num_sides" type="int" value="$(arg num_sides)" />
  <param name="/regular_polygon_motion/is_clockwise" type="bool" value="$(arg is_clockwise)" />
  <param name="/regular_polygon_motion/side_length" type="float" value="$(arg side_length)" />
  
  <node pkg="regular_polygon_motion" type="regular_polygon_motion" name="regular_polygon_motion" output="screen"/>
</launch>
